@model Contact
@{
    ViewData["Title"] = "Contacts Page";
}

<body>
    @if (@ViewBag.errorMessage != null)
    {
        <div class="alert">
            <strong>@ViewBag.errorMessage</strong>
        </div>
    }
    <form method="post" asp-action="Submit">
        <div>
            <label for="LastName">Last Name:</label>
            <input type="text" name="LastName" /><br />
            <label for="FirstName">First Name:</label>
            <input type="text" name="FirstName" /><br />
            <label for="Email">Email:</label>
            <input type="text" name="Email"/><br />
            <input type="submit" value="Submit" class="btn"/>
            <label for="test"></label>
        </div>
    </form>
</body>